In [3]:
import pandas as pd

df1 = pd.read_csv('../data/concat_1.csv')
df2 = pd.read_csv('../data/concat_2.csv')
df3 = pd.read_csv('../data/concat_3.csv')
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [5]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [7]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [10]:
row_concat = pd.concat([df1, df2, df3])
row_concat

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [16]:
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [19]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [97]:
from pathlib import Path

In [99]:
billboard_data_files=Path(".").glob('../data/billboard_by_week/billboard-*.csv')
billboard_data_files = sorted(list(billboard_data_files))

In [101]:
billboard_data_files

[WindowsPath('../data/billboard_by_week/billboard-01.csv'),
 WindowsPath('../data/billboard_by_week/billboard-02.csv'),
 WindowsPath('../data/billboard_by_week/billboard-03.csv'),
 WindowsPath('../data/billboard_by_week/billboard-04.csv'),
 WindowsPath('../data/billboard_by_week/billboard-05.csv'),
 WindowsPath('../data/billboard_by_week/billboard-06.csv'),
 WindowsPath('../data/billboard_by_week/billboard-07.csv'),
 WindowsPath('../data/billboard_by_week/billboard-08.csv'),
 WindowsPath('../data/billboard_by_week/billboard-09.csv'),
 WindowsPath('../data/billboard_by_week/billboard-10.csv'),
 WindowsPath('../data/billboard_by_week/billboard-11.csv'),
 WindowsPath('../data/billboard_by_week/billboard-12.csv'),
 WindowsPath('../data/billboard_by_week/billboard-13.csv'),
 WindowsPath('../data/billboard_by_week/billboard-14.csv'),
 WindowsPath('../data/billboard_by_week/billboard-15.csv'),
 WindowsPath('../data/billboard_by_week/billboard-16.csv'),
 WindowsPath('../data/billboard_by_week/billboard-17.csv'),
 WindowsPath('../data/billboard_by_week/billboard-18.csv'),
 WindowsPath('../data/billboard_by_week/billboard-19.csv'),
 WindowsPath('../data/billboard_by_week/billboard-20.csv'),
 WindowsPath('../data/billboard_by_week/billboard-21.csv'),
 WindowsPath('../data/billboard_by_week/billboard-22.csv'),
 WindowsPath('../data/billboard_by_week/billboard-23.csv'),
 WindowsPath('../data/billboard_by_week/billboard-24.csv'),
 WindowsPath('../data/billboard_by_week/billboard-25.csv'),
 WindowsPath('../data/billboard_by_week/billboard-26.csv'),
 WindowsPath('../data/billboard_by_week/billboard-27.csv'),
 WindowsPath('../data/billboard_by_week/billboard-28.csv'),
 WindowsPath('../data/billboard_by_week/billboard-29.csv'),
 WindowsPath('../data/billboard_by_week/billboard-30.csv'),
 WindowsPath('../data/billboard_by_week/billboard-31.csv'),
 WindowsPath('../data/billboard_by_week/billboard-32.csv'),
 WindowsPath('../data/billboard_by_week/billboard-33.csv'),
 WindowsPath('../data/billboard_by_week/billboard-34.csv'),
 WindowsPath('../data/billboard_by_week/billboard-35.csv'),
 WindowsPath('../data/billboard_by_week/billboard-36.csv'),
 WindowsPath('../data/billboard_by_week/billboard-37.csv'),
 WindowsPath('../data/billboard_by_week/billboard-38.csv'),
 WindowsPath('../data/billboard_by_week/billboard-39.csv'),
 WindowsPath('../data/billboard_by_week/billboard-40.csv'),
 WindowsPath('../data/billboard_by_week/billboard-41.csv'),
 WindowsPath('../data/billboard_by_week/billboard-42.csv'),
 WindowsPath('../data/billboard_by_week/billboard-43.csv'),
 WindowsPath('../data/billboard_by_week/billboard-44.csv'),
 WindowsPath('../data/billboard_by_week/billboard-45.csv'),
 WindowsPath('../data/billboard_by_week/billboard-46.csv'),
 WindowsPath('../data/billboard_by_week/billboard-47.csv'),
 WindowsPath('../data/billboard_by_week/billboard-48.csv'),
 WindowsPath('../data/billboard_by_week/billboard-49.csv'),
 WindowsPath('../data/billboard_by_week/billboard-50.csv'),
 WindowsPath('../data/billboard_by_week/billboard-51.csv'),
 WindowsPath('../data/billboard_by_week/billboard-52.csv'),
 WindowsPath('../data/billboard_by_week/billboard-53.csv'),
 WindowsPath('../data/billboard_by_week/billboard-54.csv'),
 WindowsPath('../data/billboard_by_week/billboard-55.csv'),
 WindowsPath('../data/billboard_by_week/billboard-56.csv'),
 WindowsPath('../data/billboard_by_week/billboard-57.csv'),
 WindowsPath('../data/billboard_by_week/billboard-58.csv'),
 WindowsPath('../data/billboard_by_week/billboard-59.csv'),
 WindowsPath('../data/billboard_by_week/billboard-60.csv'),
 WindowsPath('../data/billboard_by_week/billboard-61.csv'),
 WindowsPath('../data/billboard_by_week/billboard-62.csv'),
 WindowsPath('../data/billboard_by_week/billboard-63.csv'),
 WindowsPath('../data/billboard_by_week/billboard-64.csv'),
 WindowsPath('../data/billboard_by_week/billboard-65.csv'),
 WindowsPath('../data/billboard_by_week/billboard-66.csv'),
 WindowsPath('../data/billboard_by_week/billboard-67.csv'),
 WindowsPath('../data/billboard_by_week/billboard-68.csv'),
 WindowsPath('../data/billboard_by_week/billboard-69.csv'),
 WindowsPath('../data/billboard_by_week/billboard-70.csv'),
 WindowsPath('../data/billboard_by_week/billboard-71.csv'),
 WindowsPath('../data/billboard_by_week/billboard-72.csv'),
 WindowsPath('../data/billboard_by_week/billboard-73.csv'),
 WindowsPath('../data/billboard_by_week/billboard-74.csv'),
 WindowsPath('../data/billboard_by_week/billboard-75.csv'),
 WindowsPath('../data/billboard_by_week/billboard-76.csv')]

In [104]:
billboard_data_files = list(billboard_data_files)

In [107]:
billboard01 = pd.read_csv(billboard_data_files[0])
billboard02 = pd.read_csv(billboard_data_files[1])
billboard03 = pd.read_csv(billboard_data_files[2])
print(billboard01)

     year            artist                    track  time date.entered week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21  wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk1
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk1
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk1
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk1
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk1

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312    86.0
313    85.0
314    95.0
315    99.0
316    60.0

[317 rows x 7 columns]

In [113]:
# 각 데이터프레임의 shape 확인
print(billboard01.shape)
print(billboard02.shape)
print(billboard03.shape)

(317, 7)
(317, 7)
(317, 7)

In [ ]:
billboard = pd.concat([billboard01, billboard02, billboard03])
# 연결한 데이터프레임의 shape 확인
print(billboard.shape)